<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Buscar Disponibilidade Médica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/busca.css">
    
</head>
<body>
    <center>
        <h2>Buscar Disponibilidade Médica</h2>
    </center>

    <form action="/resultados" method="post">
        <label for="estado">Estado:</label>
        <input type="text" id="estado" name="estado">
        
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" name="cidade">
        
        <label for="especialidade">Especialidade:</label>
        <input type="text" id="especialidade" name="especialidade">
        
        <input type="submit" value="Buscar">
        <a href="{{ url_for('inicio') }}">Início</a>
    </form>
</body>
</html>
