<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela principal MedBusca</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('inicio') }}">Início</a></li>
                <li><a href="{{ url_for('busca') }}">Busca</a></li>
                <li><a href="{{ url_for('resultados') }}">Resultados</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>Bem-vindo à MedBusca</h1>
            <p>Encontre informações e recursos para ajudar a ter um atendimento especializado pelo SUS.</p>
        </section>

        <section class="features">
            <div class="feature">
                <img src="/static/img/med3.png" alt="Saúde 1">
                <h2>Prevenção</h2>
                <p>O diagnóstico precoce pode aumentar as chances de cura para até 90%!</p>
            </div>
            <div class="feature">
                <img src="/static/img/med1.png" alt="Saúde 2">
                <h2>Bem-Estar</h2>
                <p>Não se automedique procure um proficional, e não deixe de cuidar da mente também!</p>
            </div>
            <!-- Adicione mais recursos relacionados à saúde conforme necessário -->
        </section>
    </main>

    <footer>
        <p>© 2023 MedBusca/SUS - Todos os direitos reservados</p>
    </footer>
</body>
</html>