<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Resultados da Busca</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/result.css">

</head>
<body>
<center>
<h2>Resultados da busca</h2>

<table>
    <tr>
        <th>Data e Hora de Início</th>
        <th>Data e Hora de Fim</th>
        <th>Especialidade</th>
        <th>Rua</th>
        <th>CEP</th>
        <th>Número</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Estado</th>
    </tr>
    {% for resultado in resultados %}
    <tr>
        <td>{{ resultado.dataHoraInicio }}</td>
        <td>{{ resultado.dataHoraFim }}</td>
        <td class="especialidade">{{ resultado.especialidade }}</td>
        <td class="endereco">{{ resultado.rua_unidade }}</td>
        <td class="endereco">{{ resultado.cep_unidade }}</td>
        <td>{{ resultado.numero_unidade }}</td>
        <td>{{ resultado.bairro_unidade }}</td>
        <td>{{ resultado.cidade_unidade }}</td>
        <td>{{ resultado.estado_unidade }}</td>
    </tr>
    {% endfor %}
</table>

<nav>
    <ul>
        <li><a href="{{ url_for('inicio') }}">Início</a></li>
    </ul>
</nav>

</center>

</body>
</html>
